.card-enter-active,
.card-exit-active {
  @apply transition duration-200;
}

.card-enter {
  @apply opacity-0;
}

.card-enter-active,
.card-exit {
  @apply opacity-100;
}

.card-exit-active {
  @apply opacity-0;
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}